<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Booking Details</title>
</head>
<body>
  <style>
	.heading{
	background-color: #073f59;
    color: white;
     border-radius: 1%;
     padding: 5px 5px;
      margin-left:5px ;
        margin-right: 5px;
    
   }
	.foot{
	background-color:#4c778b;
   color: white;
     padding: 5px 5px;
      margin-left: 5px;
        margin-right:5px ;
   }

</style>
<div class="heading">
<h1>Enquiry Mails from Thrive Consult</h1>

</div>
<p th:text="${'Full Name   : ' + fName}"></p>
<p th:text="${'Phone : ' + phone}"></p>
<p th:text="${'Email : ' + email}"></p>
<p th:text="${'Country : ' + country}"></p>
<p th:text="${'Message : ' + service}"></p>
<p th:text="${'Contact Email : ' + contactemail}"></p>

</body>
</html>